<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="stars">
  <% 
    var anims = ['blinkStar', 'blinkStarAlt', 'blinkStarSoft', 'blinkStarPulse'];
    var colors = ['#ffffff', '#9bf6ff', '#00fff7', '#ffd6a5', '#caffbf', '#ffadad']; // vit, blå, cyan, orange, lime, rosa

    for (var i = 0; i < 100; i++) {
      var top = Math.random() * 100;
      var left = Math.random() * 100;
      var anim = anims[Math.floor(Math.random() * anims.length)];
      var color = colors[Math.floor(Math.random() * colors.length)];
      var duration = (Math.random() * 3 + 2).toFixed(2);
      var delay = (Math.random() * 5).toFixed(2);
      var size = (Math.random() * 2 + 1).toFixed(1);
  %>
    <div 
      class="star" 
      style="
        top:<%= top %>vh;
        left:<%= left %>vw;
        animation-name:<%= anim %>;
        animation-duration:<%= duration %>s;
        animation-delay:<%= delay %>s;
        width:<%= size %>px;
        height:<%= size %>px;
        background:<%= color %>;
      ">
    </div>
  <% } %>
</div>


    <h1><%= user.name %></h1>
        <p>Nickname: <%= user.nickname %></p>
        <p>Age: <%= user.age %></p>
        <p>Email: <%= user.email %></p>
        <p>Phone: <%= user.phone %></p>

        <h2>Bio:</h2>
<div class="bio-box"><%= user.bio %></div>



    <a href="/edit?id=<%= user.id %>">Edit user</a><br>
    <a href="/">Go to users</a>
    
    
</body>
</html>